.App {
  text-align: center;

}

/*  Header    */


.profile {
  width: 99.8%;
  height: 3em;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;


}

.profileimage {
  width: 30px;
  height: 30px;
}

.myprofile {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.cartimage {
  width: 30px;
  height: 30px;
}

.sign-in {
  text-align: center;
  border: none;
  background-color: white;
}

.search {
  border-radius: 10px;
  align-self: center;
}

.searchbox {
  width: 30em;
  height: 2.5em;
  border-radius: 10px;
}

.searchimage {
  width: 30px;
  height: 30px;
}

.ul {
  justify-content: space-around;
  display: flex;
  font-size: 25px;
  font-weight: 450;
  margin-top: 0px;
  background-color: #126060;
  height: 50px;
  align-items: center;

}

.home {
  text-decoration: none;
  color: black;
}

.home-image1 {
  width: 99.94%;
  height: 60vh;
}

/* ****  Footer Design **** */

.footerContainer {
  position: absolute;
  height: 250px;
  width: 100%;
  margin-bottom: 0;
  color: white;
  background-color: #197373;
  position: absolute;
  padding: 50px 0 30px;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  justify-content: space-around;
}

.footer2ndDiv {
  display: flex;
  gap: 8em;
}

.navcontact {
  margin-top: 40px;
}

.search {
  display: flex;
  flex-direction: column;
}

.a {
  color: white;
  font-size: 15px;
  line-height: 1%;
}

.navSocialmedia {
  display: flex;
  gap: 5px;
  margin-top: 40px;
}


.navsicon {
  height: 6vh;
  width: 3vw;
  background-color: #197373;
  border-radius: 50%;
}

.degineby {
  font-size: 15px;
}

.aboutuss {
  font-size: 18px;
  line-height: 1.5em;
}

/* Home page */

.homecontainer {
  display: block;
  width: 360px;
  height: 400px;
  /* margin-top: 30px; */
}

.home {
  color: white;
}

.active {
  color: yellow;
  border-bottom: 2px solid;
  font-weight: bold;
}

.titleheading {
  text-decoration: underline;
}

.homeimage {
  width: 150px;
  height: 120px;
  border-radius: 5px;
}

.title {
  font-size: 15px;
}

.price {
  font-size: 15px;
  color: red;
}

.n {
  display: flex;
  position: relative;
  width: 1000px;
  height: auto;
  /* gap: 25px; */
  margin-left: 20%;
  /* box-sizing: border-box; */
}

.addcart {
  width: 100px;
  height: 30px;
  font-size: large;
  background-color: #197373;
  color: white;
  border-radius: 5px;
  border: 2px solid yellow;
}

.addcart:hover {
  background-color: yellow;
  color: black;
  border: none;
}

.buynow {
  width: 100px;
  height: 30px;
  font-size: large;
  background-color: palevioletred;
  color: black;
  border-radius: 5px;
  border: 2px solid yellow;
}

.buynow:hover {
  background-color: yellow;
  color: black;
  border: none;
}

.buynowAddcart {
  display: flex;
  gap: 10px;
}

.hoverimage {
  width: 220px;
  height: 280px;
  padding: 15px;
  box-sizing: border-box;
  /* box-shadow: 2px 2px 5px 0px palevioletred; */
  border-radius: 10px;
}

.hoverimage:hover {
  /* width: 230px; */
  /* height: 300px; */
  /* background-color: rgb(255, 255, 183); */
  box-shadow: 2px 2px 5px 0px palevioletred;
}
